.chat-message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: flex-end;
}

.chat-message.is-agent {
  justify-content: flex-start;
}

.chat-message__avatar {
  margin-right: 10px;
}

img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 99999px;
}

.chat-message__name {
  font-weight: bold;
}

.chat-message__content {
  padding: 4px;
  border-radius: 4px;
  background-color: azure;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 12px;
}

.chat-message__content.is-agent {
  background-color: lightblue;
}