.chat-message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: azure;
}

.is-agent {
  background-color: lightblue;
}
.chat-message__avatar {
  margin-right: 10px;
}

img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 99999px;
}

.chat-message__name {
  font-weight: bold;
}