<div class="form-wrapper">
  <form (submit)="onFormSubmit()" [formGroup]="myForm">
    <h3>Advanced form register</h3>
    <div class="form-group">
      <label for="name">Username</label>
      <input formControlName="username" type="text" class="form-control" id="username" placeholder="John Doe">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input formControlName="email" type="email" class="form-control" id="email" placeholder="john.doe@gmail.com">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input formControlName="password" type="password" class="form-control" id="password" placeholder="******">
    </div>
    <div class="form-group">
      <label for="password">Confirm Password</label>
      <input formControlName="password2" type="password" class="form-control" id="password2" placeholder="******">
    </div>
    <button [disabled]="!myForm.valid" type="submit" class="btn btn-primary">Submit</button>
    <p [ngClass]="{'error': !myForm.valid}">{{myForm.valid ? 'The form is valid' : 'The form is not valid'}}</p>
  </form>
  <pre></pre>
</div>