.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  gap: 12px;
}

path {
  display: flex;
  justify-content: center;
  align-items: center;
}